body{
  font-family: 'Raleway', sans-serif;
  color: #ee6e73;
  background-color: #222222;
  background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
}

#chickenButton{
  height: auto;
  width: 15vw;
  position: absolute;
  z-index: 10;
  right: 0;
  transition: transform 5s;
}

.modal .modal-content{
  position: fixed;
  top: 10px;
}

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.advice{
  font-size: small;
  color: #fff;}

.header{
  text-align: center;
}

#userInterface{
  font-size: medium;
}

.hover-glow, h3{
  font-family: 'Monoton', cursive;
  color: #B6FF00;
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
  margin-left: 12px;
}

.hover-glow:hover, h3:hover {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  color: #B6FF00;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
  margin-left: 12px;
}

h1{
  text-align: center;
  font-size: 7em;
  margin: 20px 0 20px 0;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  color: #B6FF00;
  font-family: 'Monoton', cursive;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

h1:hover {
  color: #B6FF00;
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
}

h2{
  font-size: xx-large;
}

.card-image{
  height: 30vh
}

.card-image img{
  height: auto;
}

.card span.card-title, .card h2{
  font-family: 'Anton', sans-serif;
  text-shadow: 1px 1px white;
}

.card-content .card-title{
  font-size: x-large;
  height: 10vh;
  overflow: hidden;
}

.card-action{
  height: 10vh;
}

.card-action{
  text-shadow: 1px 1px white;
}

.recipe-content{
  font-size: large;
}

.dataDigit{
  font-family: 'Anton', sans-serif;
  font-size: xx-large;
  /*text-decoration: underline;*/
  color: #B6FF00;
  text-shadow: 1px 1px white;
}

p.card-title{
  color: white;
  font-size: small !important;
  text-shadow: unset;
}

.queue{
  color: #ee6e73;
}

.btn{
  background-color: #B6FF00;
  color: #2b2b2b;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.btn:focus {
  background-color: #2b2b2b;
  color: #B6FF00;
}

.btn:hover {
  background-color: #2b2b2b;
  color: #B6FF00;
  -webkit-animation: neon4 1.5s ease-in-out infinite alternate;
  -moz-animation: neon4 1.5s ease-in-out infinite alternate;
  animation: neon4 1.5s ease-in-out infinite alternate;
}

.card-title{
  color: #ee6e73;
}

.card-content{
  color: white;
}

.card.small .card-content{
  height: 25vh;
}

.card.small .card-tabs{
  height: 10vw;
}

img.vertical{
  height: auto;
  width: 4vw;
  min-width: 25px;
}

img.square{
  height: auto;
  width: 3vw;
  min-width: 40px;
}

img.horizontal{
  height: auto;
  width: 5vw;
  min-width: 75px;
}

.galvanize{
  height: auto;
  width: 20vw;
}

.github{
  height: auto;
  width: 15vw;
}

.card-content.pink-text{
  padding: 12px;
  font-family: 'Raleway', sans-serif;
}

#theory1, #theory2{
  text-shadow: 1px 1px black;
}

/*glow for webkit*/
@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
  }
}
@media (max-width: 650px) {
  #container {
    width: 100%;
  }
  p {
    font-size: 3.5em;
  }
}

@-webkit-keyframes neon4 {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
  }
}
